/* colour palette */
/* Dusty Rose: #d2a5a3
Soft Peach: #fbd2b7
Mauve: #b598a3
Champagne: #f5e1c0
Lavender: #c3aed6
Sage Green: #b8c9a5
Gold: #ffd700
Ivory: #fffff0
Pale Blue: #a9cce3 */

body {
  /* overflow-y: hidden; */
  width: 100vw;
  /* max-height: 100vh; */
  margin: 0;
  font-family: "Snell Roundhand", Arial, sans-serif;
  background-color: ivory;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  background-color: ivory;
  height: 60px;
}
.nav__left {
  color: black;
  margin: 0px 40px;
}
.flower__logo {
  color: black;
  text-decoration: none;
  height: 40px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nav__right ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0px 40px;
}
.nav__right li {
  margin-right: 15px;
  color: black;
}

.nav__right a {
  text-decoration: none;
  color: black;
}
.nav__link--active {
  text-decoration: underline black;
}

/* main */

.main-background {
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: silver;
  width: 100%;
  height: calc(100vh - 90px);
  object-fit: cover;
  object-position: center 92%;
}

.container {
  position: relative;
  z-index: 1;
}

.container__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  z-index: 1;
  display: block;
}

.container__header {
  color: white; /* Set text color */
  font-weight: 600;
  font-size: 40px;
  /* background-color: ivory; */
}
.container__date {
  color: white; /* Set text color */
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
  /* background-color: ivory; */
}

.scrolling-text__container {
  width: 100vw;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  height: 30px;
  margin: 0;
  align-items: center;
}

.scrolling-text {
  white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
  margin: auto 0;
  font-size: 24px;
  font-weight: bold;
}

.scrolling-text {
  -webkit-animation: mymove 8s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: mymove 8s linear infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes mymove {
  from {
    left: 0;
  }
  to {
    left: -140px;
  }
}
